# Data cleaning section.
## Here we will clean the data frame from unwanted data
## Limit in range each and every data frame
## Combine the data frames into one data frame for ML section

In [1]:
import pandas as pd
import math

## Fetching all the data frames obtained via acquisition \ pre-downloaded

In [2]:
#Importing all the data-frames before cleaning it
df_CO2 = pd.read_csv('CO2Fossil.csv', index_col=0)
df_globalForecast = pd.read_csv("globalTempForecast.csv")
df_NaturalGasDemand = pd.read_csv("NaturalGasDemand.csv", index_col=0)
df_OilSupplyAndDemand = pd.read_csv("GlobalSupplyAndDemand.csv")

In [3]:
#Adjusting global average fossil CO2 data
df_CO2 = df_CO2[df_CO2.Year > 1974]
df_CO2.sort_values("Year", ascending=True, inplace = True)

In [4]:
#Adjusting global average temperature
df_globalForecast = df_globalForecast[df_globalForecast.Year > 1974]
df_globalForecast = df_globalForecast[df_globalForecast.Year < 2017]
df_globalForecast.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 95 to 136
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Year         42 non-null     int64
 1   Temperature  42 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 1008.0 bytes

In [5]:
#Adjusting global average natural gas demand
df_NaturalGasDemand = df_NaturalGasDemand[df_NaturalGasDemand.Year < 2017]
df_NaturalGasDemand.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42 entries, 0 to 41
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                42 non-null     int64
 1   Natural Gas Demand  42 non-null     int64
dtypes: int64(2)
memory usage: 1008.0 bytes

#### We can see the data came broken

In [6]:
df_OilSupplyAndDemand

,Source: IEA. All Rights Reserved,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Units: million tonnes,NaN,NaN,NaN
1,NaN,Crude oil and NGL production,Total oil demand,Supply-Demand gap (secondary axis)
2,1971,2490.517,2378.553,111.964
3,1972,2633.794,2556.722,77.072
4,1973,2870.438,2760.475,109.963
5,1974,2875.22,2719.423,155.797
6,1975,2739.895,2699.828,40.067
7,1976,2966.432,2869.978,96.454
8,1977,3069.443,2985.713,83.73
9,1978,3107.62,3094.823,12.797
10,1979,3228.916,3139.557,89.359
11,1980,3110.752,3015.734,95.018
12,1981,2941.804,2904.566,37.238
13,1982,2812.154,2824.374,-12.22
14,1983,2790.857,2802.599,-11.742
15,1984,2869.222,2840.73,28.492
16,1985,2818.816,2829.215,-10.399
17,1986,2934.749,2910.153,24.596
18,1987,2967.017,2974.961,-7.944
19,1988,3103.307,3077.771,25.536
20,1989,3141.882,3112.161,29.721
21,1990,3186.8,3120.789,66.011
22,1991,3188.045,3147.156,40.889
23,1992,3226.581,3168.975,57.606
24,1993,3255.964,3171.153,84.811
25,1994,3288.047,3213.686,74.361
26,1995,3340.78,3271.111,69.669
27,1996,3432.402,3359.157,73.245
28,1997,3532.037,3474.478,57.559
29,1998,3593.464,3504.44,89.024
30,1999,3529.544,3569.84,-40.296
31,2000,3650.598,3598.103,52.495
32,2001,3660.986,3622.477,38.509
33,2002,3630.38,3631.113,-0.733
34,2003,3786.186,3695.622,90.564
35,2004,3937.955,3850.122,87.833
36,2005,3992.891,3900.229,92.662
37,2006,4031.096,3944.878,86.218
38,2007,4041.539,4014.952,26.587
39,2008,4091.384,3982.976,108.408
40,2009,3996.662,3908.074,88.588
41,2010,4095.296,4064.625,30.671
42,2011,4140.169,4060.47,79.699
43,2012,4235.267,4110.874,124.393
44,2013,4257.803,4166.678,91.125
45,2014,4345.514,4216.088,129.426
46,2015,4450.27,4303.447,146.823
47,2016,4507.584,4340.383,167.201
48,2017,4497.001,4408.189,88.812
49,2018,4604.649,4456.86,147.789
50,2019,4609.548,4474.207,135.341

In [7]:
#The CSV file is broken, some fixes has to be made
#Current columns: 'Source: IEA. All Rights Reserved', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3'
#After quick brief on the dataframe, we can see the actual columns located at 1st row, and they are:
#Years, Crude oil and NGL production, Total oil demand, Supply-Demand gap (secondary axis)
#Real data of each column starts from index 2.

df_OilSupplyAndDemand.columns
df_OilSupplyAndDemand.rename(columns={"Source: IEA. All Rights Reserved": "Year", "Unnamed: 1":"Oil production", 
                    "Unnamed: 2":"Oil demand", "Unnamed: 3":"Oil supply-demand"}, inplace=True)

Year, oilProduction, oilDemand, demandAndSupply = (list() for i in range(4))
for index, row in df_OilSupplyAndDemand.iterrows():
    if index > 1:
        Year.append(int(row["Year"]))
        oilProduction.append(int(math.floor(float(row["Oil production"]))))
        oilDemand.append(int(math.floor(float(row["Oil demand"]))))
        demandAndSupply.append(int(math.floor(float(row["Oil supply-demand"]))))

#At this point, we realize that Demand - Supply is not necessary for us, so we leave it behind

#Creating complete data-frame 
data = {"Year":Year, "Oil Production":oilProduction, "Oil Demand":oilDemand}

df_fixedOilProducionDemand = pd.DataFrame(data=data)
df_fixedOilProducionDemand = df_fixedOilProducionDemand[df_fixedOilProducionDemand.Year > 1974]
df_fixedOilProducionDemand = df_fixedOilProducionDemand[df_fixedOilProducionDemand.Year < 2017]
df_fixedOilProducionDemand.to_csv("fixedGlobalSupplyAndDemand.csv")
df_fixedOilProducionDemand

    Year  Oil Production  Oil Demand
4   1975            2739        2699
5   1976            2966        2869
6   1977            3069        2985
7   1978            3107        3094
8   1979            3228        3139
9   1980            3110        3015
10  1981            2941        2904
11  1982            2812        2824
12  1983            2790        2802
13  1984            2869        2840
14  1985            2818        2829
15  1986            2934        2910
16  1987            2967        2974
17  1988            3103        3077
18  1989            3141        3112
19  1990            3186        3120
20  1991            3188        3147
21  1992            3226        3168
22  1993            3255        3171
23  1994            3288        3213
24  1995            3340        3271
25  1996            3432        3359
26  1997            3532        3474
27  1998            3593        3504
28  1999            3529        3569
29  2000            3650        3598
30  2001            3660        3622
31  2002            3630        3631
32  2003            3786        3695
33  2004            3937        3850
34  2005            3992        3900
35  2006            4031        3944
36  2007            4041        4014
37  2008            4091        3982
38  2009            3996        3908
39  2010            4095        4064
40  2011            4140        4060
41  2012            4235        4110
42  2013            4257        4166
43  2014            4345        4216
44  2015            4450        4303
45  2016            4507        4340

### At last, we combine all of our data frames into one data frame

In [8]:
df_merged = pd.merge(df_globalForecast, df_CO2, on='Year')
df_merged = pd.merge(df_merged, df_NaturalGasDemand, on='Year')
df_merged = pd.merge(df_merged, df_fixedOilProducionDemand, on='Year')
df_merged.to_csv('mergedClimateChange.csv')
df_merged

,Year,Temperature,FossilCO2,Natural Gas Demand,Oil Production,Oil Demand
0,1975,0.13,80506958,1237224,2739,2699
1,1976,-0.23,85150042,1289768,2966,2869
2,1977,0.25,87685699,1333545,3069,2985
3,1978,0.10,90534465,1374400,3107,3094
4,1979,0.17,93102953,1467732,3228,3139
5,1980,0.31,92059282,1480253,3110,3015
6,1981,0.52,90440755,1496086,2941,2904
7,1982,0.11,89345757,1496537,2812,2824
8,1983,0.50,89995037,1502726,2790,2802
9,1984,0.06,92825501,1632327,2869,2840
10,1985,0.09,93996334,1693017,2818,2829
11,1986,0.29,95490822,1727244,2934,2910
12,1987,0.44,98626689,1820279,2967,2974
13,1988,0.57,102071106,1896207,3103,3077
14,1989,0.36,103900240,1964985,3141,3112
15,1990,0.65,104408029,2111517,3186,3120
16,1991,0.52,105037541,2143731,3188,3147
17,1992,0.24,104367845,2148530,3226,3168
18,1993,0.34,105233140,2195323,3255,3171
19,1994,0.47,106235180,2209015,3288,3213
20,1995,0.77,109561593,2268142,3340,3271
21,1996,0.34,111655268,2263227,3432,3359
22,1997,0.63,113057092,2251179,3532,3474
23,1998,0.98,113628612,2294500,3593,3504
24,1999,0.78,114376388,2356990,3529,3569
25,2000,0.62,118366575,2439412,3650,3598
26,2001,0.85,119881079,2495213,3660,3622
27,2002,0.96,121959960,2553605,3630,3631
28,2003,0.95,127497106,2648686,3786,3695
29,2004,0.82,132911982,2711689,3937,3850
30,2005,1.09,137640810,2836210,3992,3900
31,2006,0.97,142120692,2887916,4031,3944
32,2007,1.12,147458422,2985833,4041,4014
33,2008,0.89,148414499,3084709,4091,3982
34,2009,0.90,146938959,2995573,3996,3908
35,2010,1.15,155307842,3216261,4095,4064
36,2011,0.92,159935545,3276685,4140,4060
37,2012,0.96,161207864,3385642,4235,4110
38,2013,1.04,164137200,3452242,4257,4166
39,2014,1.02,165308238,3454762,4345,4216
40,2015,1.41,164890987,3498910,4450,4303
41,2016,1.52,165387452,3553933,4507,4340